.postImageContainer {
  margin-bottom: 10px;
  border-radius: 5px;
}

.textBox {
  border-radius: 5px;
  background-color: var(--Raw-umber);
  padding: 30px 70px 30px 70px;
  margin-top: 40px;
  gap: 20px;
}

@media screen and (max-width: 800px) {
  .textBox {
    padding: 15px;
  }
}
