.inputField {
  border-radius: 5px;
  border: 2px solid var(--Raw-umber);
  background: var(--White, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 481px;
  height: 58px;
  flex-shrink: 0;
  font-family: "OpenDyslexic3-Regular";
  font-size: 20px;
  margin-left: 40px;
  padding: 0 15px 0 15px;
}

.textInput {
  border: 2px solid var(--Raw-umber);
  background: var(--White, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 845px;
  height: 346px;
  font-size: 20px;
  padding: 15px;
  font-family: "OpenDyslexic3-Regular";
}

.form {
  gap: 35px;
  margin: 25px;
}

.inputBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.loginForms {
  border-radius: 5px;
  padding: 15px;
  border: 2px solid var(--Raw-umber);
  color: var(--black);
  text-align: left;
}

.searchInput {
  background-color: var(--Raw-umber);
  border-radius: 5px;
  border: none;
  padding: 5px;
  color: var(--white);
  font-family: "OpenDyslexic3-Regular";
  font-size: clamp(14px, 2vw, 22px);
  background-image: url(../../resources/Search.png);
  background-repeat: no-repeat;
  padding-left: 50px;
  background-size: 30px;
  background-position: 5px center;
  height: 43px;
}

.searchInput::placeholder {
  color: var(--white);
}

@media screen and (max-width: 915px) {
  .textInput {
    width: 270px;
    height: 300px;
  }

  .inputField {
    width: 270px;
    height: 40px;
    margin: 0;
  }

  .inputBox {
    flex-direction: column;
    gap: 20px;
  }
}
